article, aside, figure, footer, header, nav, section {
	display: block;
}


html{
	background-image: url("../images/images.jpeg");
}
body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto;
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, p{
	margin: 0;
	padding: 0;

}
img{
	border: none;
}


/*Header*/
header{
	background: red;
	background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	padding: 15px;
	border-bottom: 2px solid black;

}
hgroup{
padding-top: 15px;
}

header h2{
	padding-bottom: 15px;
	font-size: 125%;
}

header img
{
	float: center; 
	border-bottom: 13px solid black;
	padding: 15px;
}
header h1
{
	font-size: 250%;
	font-style: italic;
	color: red;
	text-indent: 25px;
	text-align: center;
	text-shadow: 4px 4px 4px teal;
}
header h5
{
	font-size: 65%;
	text-align: center;
}



/*NAVIGATION BAR*/
nav{
	margin: 0;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: .25em 0;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
nav li{
	display: inline;
	padding: 0 .9em 0 .5em;
	border-right: 2px solid black;
}
nav a{
	font-weight: bold;
	color: black;
}
nav a.current{
	text-decoration: none;
}
nav a:link, nav a:visited{
	color: black;
}
nav a:hover, nav a:focus{
	color: teal;
	text-decoration: underline;
}


/*LEFT SIDEBAR*/
#sideBarA{
	float: left;
	width: 175px;
	padding: 20px 0;
}
#sideBarA ul{
margin:0;
	list-style: none;

}
#sideBarA li{
	margin-bottom: .5em;
	margin-right: 2em;
	border: 2px solid black;
	background-color: orange;
}
#sideBarA li a{
	display: block;
	padding: .5em 0 .5em .5em;
	text-decoration: none;
	font-weight: bold;
	font-size: 85%;
	color: black;
	
}


/*SECTION*/
section{
	width: 350px;
	padding: 10px 10px 20px 0px;
	float: left;
}
p{
	float: center;
	padding: 30px 30px 20px 80px;
}
section h2{
	font-size: 150%;
	margin: .8em 0 .5em 0;
}
section h2:first-letter{
	font-size: 250%;
	font-family: sans-serif;
}

section h3{
	font-size: 110%;
	text-align: center;
	color: red;
	font-family: sans-serif;
}
section ul
{
	line-height: 1.5;
	text-align: left;
	float: center;
}
section p{
	margin-bottom: .5em;
	font-family: Arial;
	font-size: 80%;
	text-align: left;
	text-shadow: 1px 1px 1px red;
	float: center;
}
section img{
	float: center;
}
section a{
	font-weight: bold;
	color: orange;
}
section a:link, section a:visited{
	color: orange;
}
section a:hover, section a:focus {
	color:green;
}
section h1{
	text-align: center;
	font-size: 150%;
	margin-bottom: .5em;
}
section h5{
	float: left;
	text-align: left;
}


/*CATEGORIES*/
aside{
	float: left; 
	width: 175px;
	padding: 20px 0;
}
aside ul{
	line-height: 1.5;
	margin: 0;
}
aside ul{
	list-style: none;
}
aside li{
	margin-bottom: .5em;
	margin-right: 2em;
	border: 2px solid black;
	background-color: orange;
	text-align: center;
}
aside li a{
	display: block;
	padding: .5em 0 .5em .5em;
	text-decoration: none;
	font-weight: bold;
	font-size: 85%;
	color: black;
}
aside h2{
	font-size: 125%;
	color: red;
	text-align: center;
	margin: .8em 0 .5em 0;
	border-bottom: 3px dotted black;
	border-right: 2px dotted black;
	border-left: 2px dotted black;
}

/*RIGHT SIDEBAR*/

#sidebarB{
	float:right;
	width: 175px;
	padding: 20px 20px 50px 20px;
	background-color: orange;
}

#sidebarB h1{
	font-size: 80%;
	text-align: right;
}

#sidebarB ul{
	padding-right: 0;
	list-style: none;
}

#sidebarB li{
	margin-bottom: 10px;
	float: center;
	padding: 0;
	border: none;
}

#sideBarB a:link, #sideBarB a:visited{
	color: black;
}
#sideBarB a:hover, #sideBarB a:focus{
	color: red;
}
#sideBarB figure
{
margin: 0;
padding-right: 50px;
}
#sideBarB figcaption
{
display: block;
}


/*FOOTER*/
footer{
	clear: both;
	padding: 15px;
	border-bottom: 2px solid black;
	background: red;
	background-image: -moz-linear-gradient(45deg, white 0%, orange 50%, black 100%);
}
footer p{
	font-size: 60%;
	text-align: center;
	
}