article, aside, figure, footer, header, nav, section {
	display: block;
}


html{
	background-image: url("../images/images.jpeg");
}
body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto;
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, p{
	margin: 0;
	padding: 0;

}
/*a
{
	font-weight: bold: 
	color: orange;
}
a:link, a:visited
a{
	color: red;
}
a:hover, a:focus
{
	color: blue;
}
*/


/*Header*/
header{
	background: red;
	background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	padding: 15px;
	border-bottom: 2px solid black;
}
hgroup{
padding-top: 15px;
}

header h2{
	padding-bottom: 15px;
	font-size: 125%;
}

header img
{
	float: center; 
	border-bottom: 13px solid black;
	padding: 15px;
}
header h1
{
	font-size: 250%;
	font-style: italic;
	color: red;
	text-indent: 25px;
	text-align: center;
	text-shadow: 4px 4px 4px teal;
}
header h5
{
	font-size: 65%;
	text-align: center;
}



/*NAVIGATION BAR*/
nav{
	margin: 0;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: .25em 0;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
nav li{
	display: inline;
	padding: 0 .9em 0 .5em;
	border-right: 2px solid black;
}
nav a{
	font-weight: bold;
	color: black;
}
nav a.current{
	text-decoration: none;
}
nav a:link, nav a:visited{
	color: black;
}
nav a:hover, nav a:focus{
	color: teal;
	text-decoration: underline;
}


/*SIDEBAR*/
aside{
	float: left; 
	width: 175px;
	padding: 20px 0;
}
ul{
	line-height: 1.5;
}
aside ul{
	list-style: none;
}
aside li{
	margin-bottom: .5em;
	margin-right: 2em;
	border: 2px solid black;
	background-color: orange;
	text-align: center;
}
aside li a{
	display: block;
	padding: .5em 0 .5em .5em;
	text-decoration: none;
	font-weight: bold;
	font-size: 85%;
	color: black;
}
aside h2{
	font-size: 125%;
	color: red;
	text-align: center;
	margin: .8em 0 .5em 0;
	border-bottom: 3px dotted black;
	border-right: 2px dotted black;
	border-left: 2px dotted black;

}




/*SECTION*/
section{
	width: 560px;
	padding: 20px 60px 30px 0px;
	float: right;
}
section h1{
	font-size: 150%;
	margin-bottom: .5em;
	text-align: center;
	text-shadow: .5 .5 .5 0 black;
}
section h2:first-letter{
	font-size: 250%;
	font-family: sans-serif;
}
}
section h3{
	font-size: 110%;
	text-align: center;
	color: red;
	font-family: sans-serif;
}
ul
{
	line-height: 1.5;
	text-align: left;
}
section p{
	margin-bottom: .5em;
	font-family: Arial;
	font-size: 80%;
	text-align: left;
	text-shadow: 1px 1px 1px red;
}
section img{
	border: none;
}
section a{
	font-weight: bold;
	color:; orange;
}
section a:link, section a:visited{
	color: orange;
}
section a:hover, section a:focus {
	color:green;
}
label{
	float: left;
	width: 6em;
	text-align: right;
}
input{
	margin-left: 1em;
	margin-bottom: .5em;
	width: 25em;
}
#button{
	margin-top: .5em;
	margin-left: 7em;
	width: 8em;
	background-color: orange;
	border: 2px solid black;
	
}


/*TABLE*/


caption {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	margin: .5em 0;
	text-shadow: 2px 1px 1px black;
	color: red;
	font-family: arial;
}
th, td{
	padding: .2em 3em .2em 0;
}
th.right td.right{
	text-align: right;
	padding: 5px;
}
th.left td.left{
	text-align: left;
}
td.right{
	text-align: right;
	padding: 5px;
}
th{
	vertical-align: top;
	text-align: left;
}
td a{
	color:black;
}
thead{
	font-weight: bold;
	color: gray;
}
tbody td:nth-of-type(even){
	background-color: orange;
}


/*FOOTER*/
footer{
	clear: both;
	padding: 15px;
	border-bottom: 2px solid black;
	background: red;
	background-image: -moz-linear-gradient(45deg, white 0%, orange 50%, black 100%);
}
footer p{
	font-size: 60%;
	text-align: center;
	
}